@charset "utf-8";
/* core.css - 중요공통기능 */

/*웹폰트*/
@font-face {
    /*나눔바른고딕*/
    font-family: nb;
    src: url(../fonts/NanumBarunGothic.woff) format("woff"),
        url(../fonts/NanumBarunGothic.ttf) format("truetype")
}

@font-face {
    /*나눔바고딕*/
    font-family: ng;
    src: url(../fonts/NanumGothic.woff) format("woff"),
        url(../fonts/NanumGothic.ttf) format("truetype")
}

@font-face {
    /*노토레귤러체*/
    font-family: notor;
    src: url(../fonts/NotoSansCJKkr-Regular.woff) format("woff"), 
        url(../fonts/NotoSansCJKkr-Regular.ttf) format("truetype")
}


@font-face {
    /*로마이탈릭체*/
    font-family: timesit;
    font-weight: bold;
    src: url(../fonts/TimesNewRomanPS-ItalicMT.woff) format("woff"),
        url(../fonts/TimesNewRomanPS-ItalicMT.ttf) format("truetype")
}

/*
/*

[ 웹폰트지정형식 ]
@font-face {
    font-family: 내가지은이름;
    src: url(경로.woff) format("woff"),
        url(경로.ttf) format("truetype")
}
- woff 는 데스크탑 브라우저용 웹폰트 확장자
- ttf 는 모바일 브라우저용 웹폰트 확장자
- format(형식명) 은 명시적으로 확장자를 지정하여 웹폰트 로딩을 빠르게함!

*/

/*공통*/
body {
    /*font-family: dotum, "돋움", sans-serif;*/
    font-family: notor;
    color: #808080;
    line-height: 136%;
    font-size: 12px;
}

/* 공통 class */

/*중앙정렬 속박스*/
.inbox {
    width: 1440px;
    max-width: 100%;
    margin: 0 auto;
   /* outline: 1px dashed red;*/
}

/*IR(Image Replacement) class*/
.ir {
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
}

/*비율유지 class*/
.rbx {
    position: relative;
}

.rbx::before {
    content: "";
    display: block;
    padding-top: 70%;
    /*비율에 따라 변경*/
}

.ibx {
    /*비율유지속박스*/
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
